defaults: &defaults
  adapter:  mysql2
  username: root
  socket:   /tmp/mysql.sock
  encoding: utf8

development:
  <<: *defaults
  database: helpdesk

test: &test
  <<: *defaults
  database: helpdesk_test
